# Environments
.env
/maya_env/
/venv/
.venv

# Secrets - VERY IMPORTANT
client_secrets.json
token.pickle

# Databases
*.db
*.sqlite3

# Generated Media
/maya_ai/generated_videos/
/maya_ai/voice/generated_audio/
*.jpg
*.png
*.wav
*.mp4

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / OS specific
.vscode/
.idea/
.DS_Store
